/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* Font families */
  --ff: monospace;

  /* Font weights */
  --fw-n: 400;

  /* Line height */
  --lh: 1em;

  /* Color scheme */
  --primary-clr: #f5d547;
  --bg-clr: #ebebd3;
  --accent-clr: #3c3c3b;
  --txt-clr: #171716;
  --shadow-clr: 56, 53, 19;

  --shadow-opacity: 0.6;

  --pre-clr: #ebebd3;
}

/**********************************/
/* MEDIA QUERIES DARK/LIGHT THEMES*/
/**********************************/

body:has([value="lightDark"]:checked) {
  --txt-clr: #f0f0e7;
  --bg-clr: #3c3c3b;
  --accent-clr: #ebebd3;
  --shadow-clr: 102, 102, 1;
  --shadow-opacity: 1;
}

body {
  background-color: var(--bg-clr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/***************/
/* TYPOGRAPHY */
/*************/

body {
  font-family: var(--ff);
  font-weight: var(--fw-n);
  line-height: var(--lh);
  color: var(--txt-clr);
}

/*****************************/
/* DARK/LIGHT TOGGLE SWITCH */
/***************************/

label {
  position: relative;
  display: inline-block;
  width: 2.4em;
  height: 1.4em;
}

label label {
  height: max-content;
  width: max-content;
  margin-top: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label label off {
  display: inline;
}

label label on {
  display: inline;
}

label label switch {
  display: inline-flex;
  flex-direction: column;
  overflow: hidden;
  width: max-content;
  height: 1em;
}

label label switch * {
  transform: translateY(0%);
  transition: 0.4s;
}

input[value="lightDark"]:checked ~ label switch * {
  transform: translateY(-100%);
}

span {
  position: absolute;
  display: flex;
  align-items: center;
  inset: 0;
  border-radius: 1em;
  cursor: pointer;
  background-color: var(--accent-clr);
  transition: 0.4s;
  box-shadow: 0px 0px 10px 0px rgba(var(--shadow-clr), var(--shadow-opacity));
}

span:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  left: 0.2em;
  background-color: var(--bg-clr);
  transition: 0.4s;
  border-radius: 1em;
}

input:checked + span {
  background-color: var(--primary-clr);
}

input:checked + span:before {
  transform: translateX(1em);
}


pre{
  bottom: 0;
  position: absolute;
  color: var(--pre-clr);
  margin: 5em;
  line-height: normal;
  font-family: sans-serif;
}





